<nav class="app-menu mat-elevation-z6">
  <mat-toolbar color="primary">
    <mat-icon mat-button (click)="sidenav.toggle()">menu</mat-icon>
    <a mat-button href="" class="hacker-news-logo">
      <img src="../../../assets/img/hnlogo.png" alt="angular">
      <span color="primary">Hacker News</span>
    </a>

    <div class="fill-remaining">
      <a mat-button routerLink="/top" routerLinkActive="active">
        <span>Top</span>
      </a>
      <a mat-button routerLink="/new" routerLinkActive="active">
        <span>New</span>
      </a>
      <a mat-button routerLink="/ask" routerLinkActive="active">
        <span>Ask</span>
      </a>
      <a mat-button routerLink="/show" routerLinkActive="active">
        <span>Show</span>
      </a>
      <a mat-button routerLink="/jobs" routerLinkActive="active">
        <span>Jobs</span>
      </a>
    </div>

    <a mat-button href="https://www.github.com/guilhermewaess">GitHub</a>
  </mat-toolbar>
</nav>