@import "./../../theme.scss";

.user-detail{
    height: calc(100vh - 56px);

    .card{
        padding: 0;
        
        .card-header{
            color: white;
            padding: 9px;
            
            h3{
                margin: 0;
                line-height: 1.5;
            }

            .mat-card-title{
                margin: 0;
            }
        }

        .user-data{
            margin-bottom: 0;

            .data{
                padding: 4px;
            }
          
        }

        .card-footer{
            padding: 10px;
            color: white;

            .mat-card-title{
                margin-bottom: 5px;
            }

            .mat-card-subtitle{
                color: white;
            }
        }
    }
}