@import "./../../theme.scss";
mat-dialog-container{
  padding: 0;
}
.user-detail{
  .user-title{
    display: inline-flex;
    h3{
      margin: 0;
      margin-bottom: 12px;
    }
    .mat-icon{
      line-height: 1.4;
    }
  }
  .user-data{
    span{
      font-weight: bold;
    }
  }
}