@import "./../../theme.scss";
mat-dialog-container{
  padding: 0;
}
.user-detail{
  font-family: 'Open Sans', sans-serif;
  .mat-dialog-title {
    margin: -24px;
    margin-bottom: 14px;
    background-color: $primary-color;
    .mat-icon {
      color: #FFF;
      margin-left: 12px;
    }
    h3 {
      color: #FFF;
      padding: 0 12px;
    }
  }
  .user-data{
    font-weight: 300;
    span{
      font-weight: 600;
    }
  }
}