<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container>
  <mat-sidenav mode="over" class="sidemenu-nav" color="primary" #sidenav>
    <mat-nav-list>
      <mat-list-item  (click)="sidenav.close()">
        <logo></logo>
      </mat-list-item>
      <mat-list-item routerLinkActive="active" (click)="sidenav.close()">
        <a routerLink="/top">
          <span>Top</span>
        </a>
      </mat-list-item>
      <mat-list-item routerLinkActive="active" (click)="sidenav.close()">
        <a routerLink="/new">
          <span>New</span>
        </a>
      </mat-list-item>
      <mat-list-item routerLinkActive="active" (click)="sidenav.close()">
        <a routerLink="/ask">
          <span>Ask</span>
        </a>
      </mat-list-item>
      <mat-list-item routerLinkActive="active" (click)="sidenav.close()">
        <a routerLink="/show">
          <span>Show</span>
        </a>
      </mat-list-item>
      <mat-list-item routerLinkActive="active" (click)="sidenav.close()">
        <a routerLink="/jobs">
          <span>Jobs</span>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <nav class="app-menu mat-elevation-z6">
      <mat-toolbar color="primary">
        <mat-icon mat-icon-button (click)="sidenav.toggle()" class="cursor-pointer">menu</mat-icon>
        <logo fxHide.xs></logo>
        <div fxHide.xs>
          <a mat-button routerLink="/top" routerLinkActive="active">
            <span>Top</span>
          </a>
          <a mat-button routerLink="/new" routerLinkActive="active">
            <span>New</span>
          </a>
          <a mat-button routerLink="/ask" routerLinkActive="active">
            <span>Ask</span>
          </a>
          <a mat-button routerLink="/show" routerLinkActive="active">
            <span>Show</span>
          </a>
          <a mat-button routerLink="/jobs" routerLinkActive="active">
            <span>Jobs</span>
          </a>
        </div>
        <span fxFlex></span>
        <a mat-button href="https://www.github.com/guilhermewaess">GitHub</a>
      </mat-toolbar>
    </nav>
    <div [@routerTransition]="getRouterOutletState(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>