<div *ngIf="item | async as item" class="feed-item">
  <mat-card class="main-card" fxFlex.xs="90" fxFlexOffset.xs="5" fxFlex="60" fxFlexOffset="20">
    <mat-card-content fxLayout="row" class="main-card-content">
      <div fxFlex.xs="20" fxFlex="10" class="bg-color-primary score" fxLayout="column" fxLayoutAlign="center center">
        {{item.score}}
      </div>
      <div fxFlex.xs="80" fxFlex="90" class="feed-content" fxLayout="column">
        <div class="title">
          <a [href]="item.url" target="_blank">{{item.title}}</a>
        </div>
        <span fxFlex></span>
        <div class="infos" fxLayout="row" fxFlex>
          <a fxFlex="70" (click)="openUserDetailDialog(item.by)">
            <span class="feed-author">by: {{ item.by }}</span>
          </a>
          <a [routerLink]="['/user', item.by]" fxFlex="30" fxLayoutAlign="end">
            <span [matBadge]="item.kids?.length || 0" matBadgeSize="medium" matBadgeOverlap="false" matBadgePosition="above after" class="feed-comments">Comments</span>
          </a>      
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>