<div *ngIf="item | async as item" class="feed-item">

  <mat-card class="main-card">
    <mat-card-content>
      <mat-grid-list cols="8" rowHeight="80px">
        <mat-grid-tile [colspan]="1" [rowspan]="1" class="bg-color-primary">
          <button mat-fab color="">{{item.score}}</button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="7">
          <mat-card class="feed-content">
            <mat-card-header>
              <mat-card-title>
                <b>
                  <p class="feed-title">
                    <a [href]="item.url" target="_blank">{{item.title}}</a>
                  </p>
                </b>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <a [routerLink]="['/hn/user', item.by]">
                <span>by: {{ item.by }}</span>
              </a>
              |
              <a [routerLink]="['/hn/user', item.by]">
                <span [matBadge]="item.kids?.length || 0" matBadgeOverlap="false" matBadgePosition="above after">Comments</span>
              </a>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>