@import './../../theme.scss';

.feed-item{
    
    a{
        color: $primary-color;
        text-decoration: none;
    }

    a:hover {
        color: #f60;
        transition: color 500ms ease;
    }
    .score {
        text-align: center;
        color: #FFF;
        font-weight: bolder;
    }
    .main-card{
        margin: 10px auto 10px auto;
        padding: 0 !important;
        .main-card-content {
            min-height: 90px;
        }
    }

    .feed-content{
        
        padding: 10px !important;

        .title {
            font-size: 1rem;
            font-weight: bolder;
        }
        .infos {
            a {
                font-size: .8rem;
            }
        }
    
    }
}